parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    github.username:   yourloginname
    github.password:   yourpassword

    repositories:
        phpcr:
            include:
                - phpcr
                - phpcr-utils
        jackalope:
            exclude:
                - jackalope-mongodb

    status_images:
        downloads:
            img_prefix: https://secure.travis-ci.org/
            img_postfix: .png
            caption: Build Status
            link_prefix: http://travis-ci.org/
            link_postfix: ~
