parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    github.username:   yourloginname
    github.password:   yourpassword

    repositories:
        phpcr:
            include:
                - phpcr
                - phpcr-utils
        jackalope:
            exclude:
                - jackalope-mongodb

    status_badges:
        travis_build_status:
            caption: Travis Build Status
            img: "https://secure.travis-ci.org/#repo_name#.png"
            link: "http://travis-ci.org/#repo_name#"

        pugx_stable_status:
            caption: Latest Stable Version
            img: "https://poser.pugx.org/#repo_name#/version.png"
            link: "https://packagist.org/packages/#repo_name#"

        pugx_stable_downloads:
            caption: Total Downloads
            img: "https://poser.pugx.org/#repo_name#/d/total.png"
            link: "https://packagist.org/packages/#repo_name#"

        #other_build_status:
        #    img: "https://secure.other-ci.org/#repo_name#.png"
        #    link: "http://other-ci.org/#repo_name#"
        #    caption: Other Build Status
