$icon-font-path: "/dist/fonts/";

@import "octicons/octicons/sprockets-octicons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/wells";

/*
 * Base structure
 */
.top-navigation {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
}

.content {
  @extend .container;
}

.main {

  padding-top: 75px;
}

.repository {
  @extend .panel;
  @extend .panel-default;

  &.shim {
    opacity: 0.5;
  }
  &.empty {
    @extend .panel-success;

    header {
      cursor: auto;
    }
  }

  > header {
    @extend .panel-heading;
    position: relative;
    cursor: pointer;

    h3 {
      @extend .panel-title;
    }

    .badges {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      display: block;
      padding: 2px;

      > a {
        margin: 0 2px;
      }
    }

  }

  article {
    @extend .collapse;
    @extend .panel-body;
  }
}

.issues {
  @extend .list-group;
  .issue {
    @extend .list-group-item;

    &:hover {
      .collapsed {
        display: block;
      }
    }

    > h4 {
      @extend .list-group-item-heading;

      > .collapser {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        display: block;
        padding: 5px 8px;
        color: #428bca;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #e1e1e8;
        border-top:0;
        border-right: 0;
        border-radius: 0 0px 0 4px;
      }

      > .type {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: block;
        padding: 5px 8px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #e1e1e8;
        border-top:0;
        border-left: 0;
        border-radius: 0 0 4px 0;
      }

      > a {
        padding-left:20px;
      }
    }

    > div {
      @extend .list-group-item-text;

      header {
        @extend .well;
        @extend .well-sm;

        > span {
          margin-right:10px;
        }

        a {
          cursor:pointer;
        }
      }

      > div {
        @extend .collapse;
      }
    }
  }
}

.dropdown-menu {
  &.open {
    display: block;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px; /** bad, better something that fits the screen **/
  }

  a {
    display:block!important;

    label {
      span {
        margin-left:5px;
      }
    }
  }

}

.navbar .nav .octicon {
  margin-left: 10px;
}

@font-face {
  font-family: 'octicons';
  src: url("/dist/fonts/octicons.eot?#iefix") format("embedded-opentype"), url("/dist/fonts/octicons.woff") format("woff"), url("/dist/fonts/octicons.ttf") format("truetype"), url("/dist/fonts/octicons.svg#6d0976c7609c435a1353fcfc5de3cd95cee2a673") format("svg");
  font-weight: normal;
  font-style: normal;
}


@media (max-width: $screen-tablet) {

  h4 {
    font-size: 14px;
  }

  .navbar-form .octicon.octicon-chevron-down {
    position: absolute;
    right:5px;
  }

  .nav > li > a {
    display: inline-table;
  }
  .top-navigation .nav .octicon {
    margin-left: 0;
  }

  .nav li {
    display: inline;
  }

  .repository > header .badges {
    position: inherit;
    padding: 0;

    a {
      margin: 0 2px 0 0;
    }
  }

  .navbar-collapse.collapse.in {
    max-height: 100%;
    form {
      border: none;
      padding: 0;
    }
    .input-group, .form-group {
      margin: 5px 10px;
    }

    .input-group-btn {
      width: 100%;

      .btn {
        display: block;
      }
    }

    .dropdown-menu {
      position: static;
    }
  }
}