{% set lastUser = '' %}
<html>
<head>
    <title>{{ repositories.count }} Repositories | Dashboard</title>
    {% stylesheets '@bootstrap_less' '@DbuDashboardBundle/Resources/less/dashboard.less' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
</head>
<body>
<div id="toolbar">
    <form method="GET"><input type="text" name="q" value="{{ q }}"/><input type="submit" value="search"/></form>
    TODO: Have some facetting
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            {% include "DbuDashboardBundle:Github:repositoryList.html.twig" with {"repositories": repositories, "q": q} %}
        </div>
        <div class="span6" id="additional-info">
            <br/>(Hover over an issue to display information)
        </div>
    </div>
</div>

{% javascripts '@jquery_js' '@bootstrap_js' combine=true %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    $(".pull-request").mouseover(function() {
        $("#additional-info").html($(this).next().html());
    });
</script>
</body>
</html>