{% set travis = status_badges.travis_build_status %}
<a href="{{ travis.link|replace({'#repo_name#': repo_name }) }}" target="_blank" title="{{ travis.caption }}">
    <img src="{{ travis.img|replace({'#repo_name#': repo_name }) }}" alt="{{ travis.caption }}">
</a>